body {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

h1 {
    color: goldenrod;
    font-family: "Berkshire Swash", cursive;
    font-size: 40px;
}

h3 {
    font: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

.card-header {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#description {
    text-transform: capitalize;
}

.container-fluid {
    margin-bottom: 10px;
    padding: 0px;
}

#mainText {
    position: relative;
}

#forecastContainer {
    background-color: bisque;
}

#forecast {
    background-color: bisque;
}

#mountain {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

#back-image {
    top: 5rem;
    max-height: 400px;
    position: fixed;
    margin: 0 auto;
    padding: 0px 0px 0px 300px;
    opacity: 0.8;
}

#prec,
#humi,
#wind,
#description {
    color: black;
}

#celcius {
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
}

#openSource {
    text-decoration: none;
    margin-top: 1px;
    background-color: transparent;
    text-decoration: none;
    color: goldenrod;
}

.footer {
    max-width: 600px;
    margin: auto;
    line-height: 1;
    text-align: center;
}

.tempWeather img {
    margin-right: 10px;
}

#temp {
    font-size: 50px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

#icon {
    width: 70px;
    float: center;
    position: relative;
    bottom: 15px;
}

.tempWeather .active {
    color: black;
    cursor: default;
}

.tempWeather .active:hover {
    text-decoration: none;
}